DB_URL=SOMETHING_HERE
DB_USERNAME=SOMETHING_HERE
DB_PASSWORD=SOMETHING_HERE
DB_NAME=SOMETHING_HERE

# Local Db Config :
MYSQL_ROOT_PASSWORD=SOMETHING_HERE
MYSQL_DATABASE=SOMETHING_HERE
MYSQL_USER=SOMETHING_HERE
MYSQL_PASSWORD=SOMETHING_HERE

IMAGE_NAME=SOMETHING_HERE
IMAGE_TAG=SOMETHING_HERE
CONTAINER_NAME=SOMETHING_HERE

JWT_SECRET=SOMETHING_HERE

JWT_EXPIRATION_MS=SOMETHING_HERE
JWT_REFRESH_EXPIRATION_MS=SOMETHING_HERE